* {
  text-align: center;
  font-size: 17px;
}

#searchDiv {
  margin: auto;
  width: 50%;
  text-align: center;
}

input {
  display: block
  margin: 0 auto;
  padding: 6px;
  
  font-size: 17px;
}

#addButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 17px;
  border: none
}

.row1 {
  display: block;
}

.categoryButton {
  margin: .5em;
  border: 1px solid black;
  text-align: center;
  width: 25%;
  height: 25%;

}

.searchButton {
  padding:6px;
  font-size: 17px;
  border: none;
}

