* {
  text-align: center;
  font-size: 3vw;
}

#searchDiv {
  margin: auto;
  width: 60%;
  text-align: center;
  display: flex; justify-content: center;
}

.container{
  margin: 5em;
  display: inline-block;
}

input {
  display: block
  margin: 0 auto;
  padding: 6px;
  
  font-size: 17px;
}

#addButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 17px;
  border: none
}

.row1 {
  display: block;
}

.categoryButton {
  margin: .5em;
  border: 1px solid black;
  text-align: center;
  width: 25%;
  height: 25%;
  width: 10%;
  height: 10%
}

.searchButton {
  padding: 0.3em;
  font-size: 0.7em;
  border: 0.1em solid black;
  width: 5em;
}

.catButton button {
  padding: 2em;
  margin-left:1.5em;
  margin-right: 1.5em;
  width: 6em;
  display: flex; justify-content: center;

}

a {
  color:black;
  text-decoration: underline;
}

