<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>NavGo</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    
    <div class="container-fluid" id="naviContainer">
    <div class="row no-gutters" id="topheader">
        <div class="col-xs-6" id="history">
            <a class="nav navbar-nav navbar-left" href="/history"><i class="fas fa-history"></i></a>
        </div>
        <div class="col-xs-6" id="hamburger">
            	<!-- navbar -->
		<nav class="navbar navbar-light navbar-1 white">
			<button class="navbar-toggler" id="navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
			aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    			<div class="collapse navbar-collapse" id="navbarSupportedContent15">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/userprofile">Profile</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/help">Help</a>
					</li>
          <li class="nav-item active">
            <a class="nav-link" href="/addstore">Add Store</a>
          </li>
				</ul>
			</div>
		</nav>
        </div>

    </div>
    </div>


  <div class="container-fluid" id="contentBox">
  <h1 id="appname">NavGo</h1>
  
  <div class="row align-items-center mb-5" id="searchbar">
  <div class="align-items-center" id="searchDiv">
    <input class="search_bar" type="text" placeholder="Where are you shopping?">
    <a href="/storeProfile"><button class="searchButton btn-sm btn-outline-dark">Search</button></a>
  </div>
  </div>



 <div class="btn-group" id="buttonbox">
    <a href="/hardware"><button type="button" class="btn btn-outline-dark">Hardware</button></a>
    <a href="/clothing"><button type="button" class="btn btn-outline-dark">Clothing</button></a>
    <a href="/bookstore"><button type="button" class="btn btn-outline-dark">Bookstore</button></a>
    <a href="/grocery"><button type="button" class="btn btn-outline-dark">Grocery</button></a>
    <a href="/sporting"><button type="button" class="btn btn-outline-dark">Sporting</button></a>
    <a href="/department"><button type="button" class="btn btn-outline-dark">Department</button></a>
</div>


  <div class="text-center">
   <a  href="/addstore" style="font-size: 1.5em" id="addstore"> Don't see your store? </a>
  </div>
  </div>
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>