<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170935255-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

  <title>NavGo</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/page_A.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>  
<div class="container-fluid" id="naviContainer">
   <div class="row no-gutters" id="topheader">
      <div class="col-xs-6" id="history">
         <a class="nav navbar-nav navbar-left" href="/history"><i class="fas fa-history"></i></a>
      </div>
      <div class="col-xs-6" id="hamburger">
        
         <nav class="navbar navbar-light navbar-1 white">
            <button class="navbar-toggler" id="navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
               aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/userprofile">Profile</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/help">Help</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>


  <div class="container-fluid" id="contentBox">
  <h1 id="appname">NavGo</h1>
  
  <div class="row align-items-center mb-5" id="searchbar">
  <div class="align-items-center" id="searchDiv">
  <input class="search_bar" type="text" placeholder="Search..." id="search_bar">
  <a href="/storeProfile" id="searchbtn"><button class="searchButton btn btn-primary">Search</button></a>
  </div>
  </div>



 <div class="btn-group" id="buttonbox">
    <a href="/hardware" id="category1"><button type="button" class="btn btn-outline-dark">Hardware</button></a>
    <a href="/clothing" id="category2"><button type="button" class="btn btn-outline-dark">Clothing</button></a>
    <a href="/bookstore" id="category3"><button type="button" class="btn btn-outline-dark">Bookstore</button></a>
    <a href="/grocery" id="category4"><button type="button" class="btn btn-outline-dark">Grocery</button></a>
    <a href="/sporting" id="category5"><button type="button" class="btn btn-outline-dark">Sporting</button></a>
    <a href="/department" id="category6"><button type="button" class="btn btn-outline-dark">Department</button></a>
</div>


  <div class="text-center">
   <a  href="/addstore" id="addstore"> Don't see your store? </a>
  </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#searchbtn").click(function(e){
        alert("enter");
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'Search', 'click');
        ga('send', 'pageview');
        url = '/places/search?name=' + $('#search_bar').val(); 
        window.location.replace(url);
      });
      $("#category1").click(function(e){
        e.preventDefault();
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category1', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=hardware');
      });
      $("#category2").click(function(e){
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category2', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=clothing');
      });
      $("#category3").click(function(e){
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category3', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=bookstore');
      });
      $("#category4").click(function(e){
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category4', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=grocery');
      });
      $("#category5").click(function(e){
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category5', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=sporting');
      });
      $("#category6").click(function(e){
        e.preventDefault();
        ga('create','UA-114623091-2','auto');
        ga('send', 'event', 'category6', 'click');
        ga('send', 'pageview');
        window.location.replace('/places/search?category=department');
      });
    });
  </script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114623091-2"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115210996-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-114623091-2');
</script>
</body>
</html>