<!DOCTYPE HTML>
<html lang="en">
   <head>
      <title>NavGo</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <link rel="stylesheet" type="text/css" href="/css/page_B.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

   </head>
   <body>
      <div class="container-fluid" id="naviContainer">
         <div class="row no-gutters" id="topheader">
            <div class="col-xs-6" id="history">
               <a class="nav navbar-nav navbar-left" href="#"><i class="fas fa-history"></i></a>
            </div>
            <div class="col-xs-6" id="hamburger">
               <!-- navbar -->
               <nav class="navbar navbar-dark white navbar-1">
                  <button class="navbar-toggler" id="navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
                     aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/userprofile">Profile</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/help">Help</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </div>
      <div class="container-fluid" id="contentBox">
          <div class="container-fluid" id="logobox">
         <img src="navgologo2.png" id="appname">
         <h3 id="where">Where to?</h3>
         <div class="input-group mb-5">
            <input class="form-control" type="text" placeholder="Search..." id="searchbar">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="searchbtn"><i class="fa fa-search"></i></button>
            </span>
         </div>
              </div>

<!--
         <div class="btn-group table" id="buttonbox">
            <a href="/hardware" id="category1"><button type="button" class="btn btn-outline-dark">Hardware</button></a>
            <a href="/clothing" id="category2"><button type="button" class="btn btn-outline-dark">Clothing</button></a>
            <a href="/bookstore" id="category3"><button type="button" class="btn btn-outline-dark">Bookstore</button></a>
            <a href="/grocery" id="category4"><button type="button" class="btn btn-outline-dark">Grocery</button></a>
            <a href="/sporting" id="category5"><button type="button" class="btn btn-outline-dark">Sporting</button></a>
            <a href="/department" id="category6"><button type="button" class="btn btn-outline-dark">Department</button></a>
         </div>
-->
         <div class="btn-group table container-fluid" id="buttonbox">
            <div class="row" id="icon-row">
                <div class="col-xs-4" id="icon-1">
                    <a href="/hardware" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="softhardwarestore.png"><br><p id="categoryname">Hardware</p></div></a></div>
                <div class="col-xs-4" id="icon-1">
                    <a href="/clothing" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="clothingstoreicon.png"><br><p id="categoryname">Clothing</p></div></a></div>
                <div class="col-xs-4" id="icon-1">
                    <a href="/bookstore" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="softbookstore.png"><br><p id="categoryname">Bookstore</p></div></a></div>
            </div>
            <div class="row" id="icon-row">
                <div class="col-xs-4" id="icon-1">
                    <a href="/grocery" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="softgrocerystore.png"><br><p id="categoryname">Grocery</p></div></a></div>
                <div class="col-xs-4" id="icon-1">
                    <a href="/sporting" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="softsporting.png"><br><p id="categoryname">Sporting</p></div></a></div>
                <div class="col-xs-4" id="icon-1">
                    <a href="/department" id="category1"><div class="iconbtn" id="hardwareicon"><img id="hardwareicon" src="softdepartmentstore.png"><br><p id="categoryname">Department</p></div></a></div>
            </div>

         </div> 
          
         <div class="container-fluid addstorelink">
            <a  href="/addstore" id="addstore"> Don't see your store? </a>
         </div>
      </div>
      <!--</div>-->
      <script>
    $(document).ready(function(){
      $("#searchbtn").click(function(e){
        e.preventDefault();
        url = '/places/search?name=' + $('#searchbar').val(); 
        window.location.replace(url);
      });
      $("#category1").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=hardware');
      });
      $("#category2").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=clothing');
      });
      $("#category3").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=bookstore');
      });
      $("#category4").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=grocery');
      });
      $("#category5").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=sporting');
      });
      $("#category6").click(function(e){
        e.preventDefault();
        window.location.replace('/places/search?category=department');
      });
    });
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!--       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

   </body>
</html>