* {
	box-sizing: border-box;
}

.store img {
	width: 60%;
}

#title b{
font-family: 'Roboto Condensed', sans-serif;

}

.store h3 {
    padding-top: 20px;
}
.store {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.dropdown-menu a{
    font-family: 'Roboto Condensed', sans-serif;

}

#filterBtn {
    font-family: 'Roboto Condensed', sans-serif;
  
}

#hamburger{
    width:50%;
    margin-top: .5rem;
}
.row{
    width: 100%;
}
#history{
	width:50%;
    margin-top: .75rem;
}
#topheader{
    padding: 0px;
    margin:0px;
}
#naviContainer{
    width: 100%;
    padding-left: 1rem;
    padding-right: 0rem;
}
.navbar{
    float: right;
}
#navbarSupportedContent15{
    width: 100%;
    text-align: left;
    position: absolute;
    background-color: azure;
    margin-top: 7rem;
    right: 1rem;
    padding-left: .5rem;
    width: 107%;
    z-index: 100;
}
.navbar-toggler-icon{
  width:2rem;
  height:2.5rem;
}

#storename {
    font-size: 25px;
    color: blue;
    text-align: center;
}

.storeinfo {
    text-align: left;
    line-height: 85%;
    word-wrap: break-word;
    margin-left: 2rem;
    margin-right: 1.2rem;
    margin-top: 1rem;
    overflow-wrap: normal;
}

#accesibilityRating {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #EBC53E;
}
#short {
    width: 40px;
}

#address {
    line-height: 18px;
}

#filter {
    position: absolute;
    right: 0;
    margin-right: 3%;
}
#title {
    text-align: center;
}

