#helpId h3{
font-family: 'Roboto Condensed', sans-serif;

}

#helpId p{
font-family: 'Roboto Condensed', sans-serif;

}

.container-fluid a{
font-family: 'Roboto Condensed', sans-serif;

}
#navbarSupportedContent15{
    margin-top: 7.8rem;
}