#searchDiv {
  display: flex; 
  justify-content: center;
}
#searchbar{
    justify-content: center;
    padding-left: 1.75rem;
    font-size: 1.1rem;
}

/*
.container{
  margin: 5rem;
  display: inline-block;
}
*/

input {
  display: block
  padding: 0.2px;
  font-size: 0.85rem;
  width: 20rem;
}
.search_bar{
  vertical-align: middle;
  width: 13em;
  border-width: .2rem;
  font-size: 1.3rem;
    text-align: center;
}

#addButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 17px;
  border: none
}
h2{
  font-size: 2.5rem;
}

.row1 {
  display: block;
}

.categoryButton {
  margin: .5em;
  border: 1px solid black;
  text-align: center;
  width: 25%;
  height: 25%;
  width: 10%;
  height: 10%
}

.searchButton {
  padding: 0.3rem;
  font-size: 1rem;
  border: 0.1rem solid black;
  width: 4.5rem;
  margin-left: .3rem;
  text-align: center;
}

.catButton button {
  padding: 2rem;
  margin-left:1.5rem;
  margin-right: 1.5rem;
  width: 5rem;
  display: flex; justify-content: center;

}

a {
  color:black;
  text-decoration: underline;
}
/*.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}*/
.test{
  align-content: right;
  align-items: right;
  padding-left: 25rem;
}

.tes1 {
  position: absolute;
  left: 76%;
}

.tes {
  position: relative;
  left: 76%;
}

.navbar-toggler-icon{
  width:2rem;
  height:2.5rem;
}

.fa-history{
  width: 2.5rem !important;
  height: 2.5rem !important;
    margin-top: .35rem;
}
.btn-group {
  display: block;
  margin-bottom: .7rem;
  font-size: 25px;
}
.btn-group button{
  display: inline-block;
  width: 85%;
  padding: 1rem;
  justify-content: center;
  margin-bottom: .5rem;
    font-size: 1.5rem;
}

.store img{
  width: 50%;
  height: auto;
}
#hamburger{
    width:50%;
    
}


.row{
    width: 100%;
}

#history{
	width:50%;
  margin-top: 5px;
}

#topheader{
    background-color: #386F9A;
}

#naviContainer{
    background-color: #386F9A;
    width: 100%;
    padding-left: 1rem;
    padding-right: 0rem;
}
.navbar{
    float: right;
}
#navbtn {
  background-color: #e6e6e6;
  height: 46px;
}

#navbarSupportedContent15{
    text-align: left;
    position: absolute;
    background-color: #e6e6e6;
    margin-top: 7.8rem;
    right: 1rem;
    padding-left: .5rem;
    z-index: 100;
    width: 100%;
}
#contentBox{
    text-align: center;
}
.contentbox{
    text-align: center;
    margin-top: 1rem;
}

#appname {
  padding: 10px 0;
}

#addstore {
  color: blue;
}

@media (max-width: 360px) {
  #search_bar {
    font-size: 0.5rem;
  }

)


