html {
  padding-top: 0;
  margin-top: 0;
}
#image-map {
  height: 50vh;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: -100;
   
}

#add-map {
  height: 60vh;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row {
  margin: 4vh;
  width: 100%;
}
#hamburger{
    width:50%;
    margin-top: .5rem;
}
#history{
	width:50%;

}
#topheader {
  margin: 0;
  padding: 0;
}
#naviContainer{
    
    width: 100%;
    padding-left: 1rem;
    padding-right: 0rem;
}
.navbar{
    float: right;
}
/*#navbarSupportedContent15{
    width: 100%;
    text-align: left;
    position: absolute;
    background-color: azure;
    margin-top: 7rem;
    right: 1rem;
    padding-left: .5rem;
    width: 107%;
    z-index: 100;
}*/

#navbarSupportedContent15 {
  max-width: 80%;
  padding-left: 15em;
}

.navbar-toggler-icon{
  width:2rem;
  height:2.5rem;
}
.boxofcheckboxes{
    padding-right: 3rem;
    text-align: center;
}

#addPinButton {
  float: right;
    padding: 0px;
    background: none;
    margin-top: .5rem;
    width: 4rem;
}

.boxofcheckboxes input {
  width: 100%;
  font-size: 0.85rem;
}

#checkboxes {
  display: block
}
#pluspin{
    width: 1.4rem;
}

.markerModalButton {
  height: 8;
  width: 8;
  padding: 0;
  margin: 0;
}

.markerModalButton img {
  display: block;
  height: 4;
  width: 4;
}