#image-map {
      height: 50vh;
      border: 1px solid #ccc;
      margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }
.row {
  margin: 4vh;
  width: 100%;
}
#hamburger{
    width:50%;
    margin-top: .5rem;
}
#history{
	width:50%;
    margin-top: .75rem;
}
#topheader{
    background-color: aquamarine;
    padding: 0px;
    margin:0px;
}
#naviContainer{
    background-color: aquamarine;
    width: 100%;
    padding-left: 1rem;
    padding-right: 0rem;
}
.navbar{
    float: right;
}
#navbarSupportedContent15{
    width: 100%;
    text-align: left;
    position: absolute;
    background-color: azure;
    margin-top: 7rem;
    right: 1rem;
    padding-left: .5rem;
    width: 107%;
    z-index: 100;
}
.navbar-toggler-icon{
  width:2rem;
  height:2.5rem;
}
.boxofcheckboxes{
    padding-right: 3rem;
    text-align: center;
}

#addPinButton {
  float: right;
  margin-right: 1rem;
}