#appname{
 font-family: 'Roboto Condensed', sans-serif;
 height: 8rem;
margin-top: 1.5rem;

}

button{
	font-family: 'Roboto Condensed', sans-serif;
}


.text-center {
font-family: 'Roboto Condensed', sans-serif;

}

#searchbtn {
	height: 2rem;
	font-size: 1.2rem;
}
