.searchButton {
  padding: 0.3rem;
  font-size: 1rem;
  width: 4.5rem;
  margin-left: 5px;
  text-align: center;
}

.search_bar {
	text-align: left;
	padding-left: 5px;
	border: 1px solid gray;
	width: 16rem;
}
