#searchbtn {
	margin-top: 10px;
	padding: 8px 40px;
	font-family: 'Roboto Condensed', sans-serif;

}

#bar {
	margin-top: 25px;
	border: 1px solid gray;
	text-align: left;
	padding: 5px;
}

#appname{
 font-family: 'Roboto Condensed', sans-serif;
 height: 8rem;
margin-top: 1.5rem;

}

button{
	font-family: 'Roboto Condensed', sans-serif;
}


.text-center {
font-family: 'Roboto Condensed', sans-serif;

}