* {
	box-sizing: border-box;
}

#facebookPhoto img {
	border: 0.07em black solid;
}

.img-responsive{
	width: 65%;
	height: auto;
}
.contentbox{
    text-align: center;
    margin-top: 1rem;
}
#hamburger{
    width:50%;
    margin-top: .5rem;
    font-family: 'Roboto Condensed', sans-serif;

}
.row{
    width: 100%;
}
#history{
	width:50%;
    margin-top: .75rem;
}

#naviContainer{

    width: 100%;
    padding-left: 1rem;
    padding-right: 0rem;
}
.navbar{
    float: right;
}
/*#navbarSupportedContent15{
    max-width: 80%;
    text-align: left;
    position: absolute;
    background-color: azure;
    margin-top: 7rem;
    right: 1rem;
    padding-left: 25rem;
    width: 107%;
    z-index: 100;
}*/

#navbarSupportedContent15 {
    max-width: 80%;
    padding-left: 15em;
}

.navbar-toggler-icon{
  width:2rem;
  height:2.5rem;
}
#logout {
    margin-bottom: 30px;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 
}

#log button{
    font-family: 'Roboto Condensed', sans-serif;

}