* {
	box-sizing: border-box;
}

body {
	margin: 1em !important;
/*	margin-left: 5em !important;
	margin-right: 5em !important;*/
}

.userNav {
	position: absolute;
	left: 76%;
}
h3{
	padding-top: 3em;
}

#navbarSupportedContent15 {
  position: absolute;
  top: 4em;
  background-color: white;
  padding: 0.7em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border: .1em solid black;
}

#facebookPhoto img {
	border: 0.07em black solid;
}
